#OurFavoriteVideosDiv {
    height: 100vh;
    padding-top: 4rem;
    background-color: #003153;
}


#center-carousel {
    margin: auto;
    width: 70%;
    /* border: 3px solid black; */
    padding: 10px;
}

.favorite-videos-heading {
    text-align: center;
    color: #0F9692
}

#carousel-heading {
    color: aliceblue;
}

.carousel-video-item {
    color: aquamarine;
}

.carousel-video {
    margin: auto;
}