#AboutUsDiv {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 4rem;
    min-height: 100vh;
    padding-top: 4rem;
}

.AboutUsDescription {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.AboutUsImg {
    align-self: flex-start;
}

.AboutUsParagraph {
    text-align: center;
    width: 40%;
    /* white-space: pre;
    display: flex */
}

.AboutUsSections {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;
}

.Section {
    width: 25%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.InstaImages {
    padding: 1rem;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    row-gap: 2%;
    column-gap: 2%;
}

.InstaImage {
    object-fit: cover;
    width: 100%;
    height: 100%;
    aspect-ratio: 1 / 1;
}

.InstaImage:hover {
    opacity: 0.3;
    transition: .5s ease;
}