#PeopleOfNoteDiv {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 4rem;

}

.Members {
    display: grid; 
    /* padding: 1rem; */
    width: 65%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    /* grid-template-rows: repeat(2, 1fr); */
    row-gap: 2%;
    column-gap: 2%;
}